<mat-card>
  <mat-card-content>

    <div class="title">
      <h1> Hello, {{user.firstName}} {{user.lastName}}, welcome to Help Desk 4481! </h1>
    </div>

    <div *ngIf="!user.isClient">

      <mat-grid-list cols="3" rowHeight="75px">
        <mat-grid-tile>
          <span matBadge="{{status.numberOfClientsOnline}}" matBadgeOverlap="false">Online Clients</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span matBadge="{{status.numberOfClientsInQueue}}" matBadgeOverlap="false">Clients In Queue</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span matBadge="{{status.helpers.length}}" matBadgeOverlap="false">Online Helpers</span>
        </mat-grid-tile>
      </mat-grid-list>


      <div style="margin-bottom: 20px">
        <h2>Online helpers:</h2>

        <mat-list>
          <mat-divider></mat-divider>
          <div *ngFor="let helper of status.helpers">
            <mat-list-item>
              <span>{{helper.username}}</span>
              <span *ngIf="user.username == helper.username">(me)</span>
              <span *ngIf="helper.isInConvo">(busy)</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </div>

      <button (click)="openFreeHelpersSheet()" mat-button mat-raised-button color="primary">Pick a Helper</button>

      <div *ngIf="status.numberOfClientsInQueue > 0">
        <div class="title">
          <h2>Clients are waiting for you, please help them!</h2>
        </div>
        <div class="action-container">
          <button (click)="chatService.pickClient()"
                  mat-button mat-raised-button color="primary">
            Pick a Client!
          </button>
        </div>
      </div>

    </div>

    <div *ngIf="user.isClient && !isInQueue">
      <div class="title">
        <h2>If you're ready to get help, please join the queue.</h2>
      </div>
      <div class="action-container">
        <button (click)="queueMe()"
                mat-button mat-raised-button color="primary">
          Queue Me!
        </button>
      </div>
    </div>

    <div *ngIf="user.isClient && isInQueue">
      <div class="title">
        <h2>Please wait, we will be with you shortly.</h2>
      </div>
    </div>

  </mat-card-content>
</mat-card>
