<mat-card>
  <mat-card-content>

    <div *ngIf="matchedUser !== null">
      <div class="title">
        <h1>Connected to {{matchedUser.firstName}} {{matchedUser.lastName}}</h1>
        <h3 *ngIf="matchedUser.isClient">Client ID: {{matchedUser.username}}</h3>
      </div>

      <div class="chat-history">
        <div>
          <mat-chip-list *ngFor="let data of chatService.messages" [ngClass]="{'is-me': data.isMe}">
            <mat-chip [color]="data.isMe ? 'primary' : 'accent'" selected>
              {{data.text}} <span>{{data.timestamp | date:'shortTime'}}</span>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="chatService.isPartyTyping | async">
            <mat-chip class="is-typing">
              <span>{{matchedUser.firstName}} is typing...</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput placeholder="Start typing..." [formControl]="messageControl"
               (keyup.enter)="chatService.send(messageControl.value); messageControl.reset()"
               (keydown)="chatService.isTyping()"
               (keyup)="chatService.stoppedTyping()">
      </mat-form-field>

      <div class="action-container">
        <button (click)="chatService.send(messageControl.value)" mat-button mat-raised-button color="primary">Send</button>
        <button (click)="chatService.leave()" mat-button mat-raised-button color="primary">Leave</button>
        <button *ngIf="!user.isClient" (click)="openFreeHelpersSheet()" mat-button mat-raised-button color="primary">Transfer</button>
      </div>
    </div>

  </mat-card-content>
</mat-card>
